
.list_item{
    width: 60vw;
    margin: 0 ;
    background-color: rgba(41, 182, 135, 0.24);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: rgb(57, 180, 133);
    
}


.list_item li:hover{
    transform: scale(1.1);
    color: white;
    text-shadow: 0 0 1.5rem  rgb(0, 255, 255);
}



